<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Admin Panel</title>
      <link rel="stylesheet" href="{{url_for('static', filename='./css/admin.css')}}">
   </head>
   <body>
      <div class="container">
         <div class="navbar">
            <div class="navbar-links">
               <a href="#" class="nav-button">Home</a>
            </div>
            <div class="navbar-brand">Welcome Admin</div>
            <div class="navbar-links">
               <a href="#" class="nav-button">Users</a>
               <a href="#" class="nav-button">Books</a>
               <a href="#" class="nav-button">Logout</a>
            </div>
         </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <button class="search-button">Search</button>
     </div>
     <br>
     <br>
     <h2 class="section-heading">Users</h2>
     <section class="user-section">
      <div class="card">
        <div class="card-header">
          <img src="{{url_for('static', filename='./img/download.png')}}" alt="User 1">
          <h3>Full Name</h3>
        </div>
        <div class="card-body">
          <p>User ID: 123456</p>
          <p>Email: user1@example.com</p>
          <p>Address: 123 Main St, City, Country</p>
          <div class="section-buttons">
            <button class="pill-button">Activate</button>
            <button class="pill-button">Activities</button>
          </div>
        </div>
      </div>
    </section>
   <br>
   <br>
   <section class="catalog-books-section">
      <h2>Books</h2>
      
      <div class="catalog-books">
        <div class="catalog-book-card">
          <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
          <h3>Book Title 1</h3>
          <p>Author: Author Name 1</p>
          <p>Category: Category 1</p>
          <p>Borrowed Date: 2023-05-29</p>
          <br>
          <button class="borrow-button">Edit</button>
          <button class="borrow-button-2">Delete</button>
        </div>
      </div>
    </section>
   </body>
</html>
