<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Admin Panel</title>
      <link rel="stylesheet" href="{{url_for('static', filename='./css/admin.css')}}">
      <script src="{{url_for('static', filename='./js/admin.js')}}"></script>
   </head>
   <body>
      <div class="container">
         <div class="navbar">
            <div class="navbar-brand">Admin Panel</div>
            <div class="navbar-links">
               <a href="#" class="nav-button">Home</a>
               <a href="#" class="nav-button">Users</a>
               <a href="#" class="nav-button">Books</a>
               <a href="#" class="nav-button">Logout</a>
            </div>
         </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <button class="search-button">Search</button>
     </div>
   </body>
</html>
