<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dashboard</title>
      <link rel="stylesheet" href="{{url_for('static', filename='./css/dashboard.css')}}">
      <script src="{{url_for('static', filename='./js/sessionChecker.js')}}"></script>
   </head>
   <body>
      <div class="navbar">
         <button class="navbar-button navbar-home">Home</button>
         <div id="greet" class="navbar-brand">Welcome user</div>
         <div class="navbar-user">
            <button onclick="logout()" class="navbar-button navbar-logout">Logout</button>
         </div>
      </div>
      <div class="search-bar">
         <input type="text" placeholder="Search - Title or Author Name">
         <button id="search" type="submit">Search</button>
      </div>
      <div class="book-card-container">
         <!-- Add your book information cards here -->
      </div>


      <section id="borrowed" class="borrowed-books-section">
        <h2>Borrowed Books</h2>
        <div class="borrowed-books">
          <div class="book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="return-button">Return</button>
          </div>
          
          <div class="book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 2">
            <h3>Book Title 2</h3>
            <p>Author: Author Name 2</p>
            <p>Category: Category 2</p>
            <p>Borrowed Date: 2023-06-05</p>
            <br>
            <button class="return-button">Return</button>
          </div>
          <div class="book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="return-button">Return</button>
          </div>
          <!-- Add more book cards as needed -->
        </div>
      </section>
      



      <section class="catalog-books-section">
        <h2>Catalog</h2>
        
        <div class="catalog-books">
          <div class="catalog-book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="borrow-button">Borrow</button>
          </div>
          <div class="catalog-book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="borrow-button">Borrow</button>
          </div>
          <div class="catalog-book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="borrow-button">Borrow</button>
          </div>
          <div class="catalog-book-card">
            <img src="{{url_for('static', filename='./img/unnamed.jpg')}}" alt="Book 1">
            <h3>Book Title 1</h3>
            <p>Author: Author Name 1</p>
            <p>Category: Category 1</p>
            <p>Borrowed Date: 2023-05-29</p>
            <br>
            <button class="borrow-button">Borrow</button>
          </div>
          <!-- Add more book cards as needed -->
        </div>
      </section>
      
      <script src="{{url_for('static', filename='./js/logout.js')}}"></script>
   </body>
</html>
