<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Add Book</title>
      <link rel="stylesheet" href="{{url_for('static', filename='./css/addedit.css')}}">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Edit Book Information
         </div>
         <form action="#">
            <div class="field">
               <label>Sample Book ID</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Title</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Author ID</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Edition</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Category ID</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Publisher ID</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Copies</label>
            </div>
            <div class="field">
               <input type="text">
               <label>Publication Year</label>
            </div>
            <div class="field">
               <input type="submit" value="Submit">
            </div>
            <div class="null">
               <a href="#">Go Back</a>
            </div>
         </form>
      </div>
   </body>
</html>